/* Common */
body{
    font-family: Arial, sans-serif;
}
.img-container img{
    width: 100%;
    height: 100%;
}
ul{
    list-style-type: none;
    padding-inline-start: 0;
}
ul li{
    display: inline-block;
    margin: 10px;
}
ul li a{
    color: inherit;
    text-decoration: none;
}
ul li i{
    padding: 3px;
}

/* Backgrounds */
.bg-darkgray{
    background-color: #1f1f1f;
    color: white;
}
.bg-lightgray{
    background-color: #bebcbb;
    color: black;
}
.bg-blue{
    background-color: #161c3b;
    color: white;
}

/* Buttons */
.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: #117bd1;
    color: white;
}
.gray{
    background-color: #d9dadc;
    color: #161c3b;
}
.black{
    background-color: #363636;
    color: white;
}

/* Header */
header{
    width: 100%;
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;
}
.preheader{
    background-color: black;
}
#sony-logo{
    height: 10px;
    margin: 10px;
}

/* Header Navbar */
nav{
    width: 100%;
    height: 55px;

    font-size: 1.05rem;
    font-weight: 400;

    background-color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
nav i{
    font-size: 12px;
}
nav .col.left,
nav .col.right{
    width: fit-content;
}
nav .col.center{
    flex: 1;
}
nav .col.right .element-end{
    margin-left: auto;
}
.navlist{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.last-element{
    margin-left: auto;
}
.burger-menu{
    height: 100%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.burger-menu i{
    font-size: 40px;
}
.burger-menu i:hover{
    cursor: pointer;
    color: #117bd1;
}

/* Main */
main{
    margin-top: 65px;
}

/* Jumbo */
.ms_jumbo{
    position: relative;

    overflow: hidden;

    color: white;
}
.ms_jumbo img{
    width: 100%;
    height: 80vh;
    object-position: center;
    object-fit: cover;
}
.ms_jumbo_info{
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 5% 8%;

    width: 90%;
}
.ms_jumbo_info img{
    width: 50%;
    height: 20%;
    object-fit: contain;
    margin: 30px auto;
}
.ms_jumbo_info h2{
    font-size: 2.3rem;
}
.ms_jumbo_info p{
    margin: 30px 0;
}

/* Jumbo Items */
.ms_item{
    border: 3px solid transparent;
    border-radius: 20px;
    margin-top: 30px;
}
.ms_item:hover{
    cursor: pointer;
    border: 3px solid #2f8cd7;
    border-radius: 20px;
}
.ms_item img{
    width: 100%;
    height: 100%;

    border-radius: 20px;
    padding: 3px;
}

/* Playstation 5 */
.ms_section_title{
    margin: 50px auto;
    text-align: center;
}
.ms_section_title h5{
    text-transform: uppercase;
    font-size: 1rem;

    margin: 0;

    color: #117bd1;
}
.ms_section_title h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.ms_section_title h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.ms_section_title h4{
    color: #7a7a7a;
}
.ms_console_info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.ms_console_products{
    margin-bottom: 30px;
}
.ms_product{
    padding: 30px;
    opacity: 0.5;

    border-bottom: 2px solid transparent;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.ms_product:hover{
    cursor: pointer;
    padding: 30px;
    opacity: 1;

    border-bottom: 2px solid #117bd1;
}

/* Jumbo 2 */
.store_title{
    margin: 30px auto;
}
.ms_item h5{
    font-size: 1.05rem;
    margin: 10px 5px;
}

/* Playstation 4 */
.ms_ps4_products{
    margin: 30px auto;
}
.ms_ps4_product_info{
    margin-bottom: 2rem;
}
.ms_ps4_product_info h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.ms_ps4_product_info h5{
    color: #7a7a7a;

    margin-bottom: 2rem;
}

/* Ps Two Cols */
.ps-two-columns-banner{
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.ps-two-columns-logo{
    width: 50%;

    margin-bottom: 30px;
}
.ps-two-columns-banner a{
    text-decoration: none;
    color: inherit;
}

/* PS Store */
.ps-store-products{
    margin: 3rem auto;
}
.ps-store-single-product{
    margin-bottom: 1rem;
}
.ps-store-single-product:hover{
    cursor: pointer;
}

/* Socials */
.social-menu{
    margin: 30px auto;
}
.social-container{
    margin: auto;
}
.social-icon{
    cursor: pointer;
    margin: 10px;
}

/* Footer */
footer{
    background-color: #00439c;
    color: white;
}
#ps-footer-logo{
    height: 100px;
    width: 100px;
}
.language-container{
    margin: 30px 0;
}
#language-globe{
    display: inline-block;

    height: 20px;
    width: 20px;
}
#sie-logo{
    width: 70%;
}
footer ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
footer ul li{
    margin: 10px 0;
}




/* Media Edits */

@media screen and (min-width: 576px ) {
    .social-container{
        width: 100%;
    }
}
@media screen and (min-width: 768px ) {
    .ms_jumbo_info{
        width: 25%;
    }
    .social-container{
        width: 90%;
    }
}
@media screen and (min-width: 992px ) {
    .social-container{
        width: 80%;
    }
}
@media screen and (min-width: 1400px ) {
    .social-container{
        width: 50%;
    }
}
